body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#grid-container {
    width: 400%;
    height: 400%;
    position: absolute;
    top: -150%;
    left: -150%;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.5) 1px, transparent 1px);
    background-size: 20px 20px;
    transform-origin: center center;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}